<h2>Ninja listing</h2>
<form id="filter" name="filter">
  <label>Filter ninjas by name</label>
  <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
</form>

<ul id="ninja-listing">
  <li *ngFor="let ninja of ninjas | filter:term">
    <div class="single-ninja">
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <h3>{{ninja.name}}</h3>
    </div>
  </li>
</ul>

<form id="add-ninja">
  <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
  <input type="text" [(ngModel)]="belt" [ngModelOptions]="{standalone: true}">
  <button (click)="fbPostData(name, belt)">Add Ninja</button>
</form>
